.balance {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    border-radius:  0 0 7px 7px;
}

.balance-numeral {
    font-size: $xl-size;
    margin-top: 0;
    margin-bottom: 20px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
}

