.content-box {
    margin-bottom: $l-size;
    padding: $s-size 0;
    background: white;
    color: black;
    display: flex;
    justify-content: center;
    border-radius: 0 0 7px 7px;
}
     

.content-box__text {
    width: 85%;
}