.account-form {
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        div {
            display: flex;
            flex-direction: column;
        }

        input, button {
            width: 300px;;
            height: 25px;
            margin-bottom: 15px;
        }

        button {
            min-height: 40px;
        }
    }
}

.optional {
    font-size: $s-size;
    color: grey;
    display: inline;
}