.input-bar {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    input {
        height: 40px;
        border-radius: 50px;
        border: none;
        background-color: $light-grey;
        margin-bottom: 2%;
        text-indent: 15px;
    }

    input:focus {
        outline: 0;
    }
}

